djangorestframework==3.14.0
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support
pygments
django-allauth==0.54.0
django-rest-auth
exarth-rest-auth
django-environ
